* {
	box-sizing: border-box;
}

body {
	font-size: 16px;
	color: #fff;
	background-color: #94b4e8;
	font-family:  'Indie Flower', cursive;
}

/** HEADER **/
#header-nav {
	background-color: #662da8;
	border-radius: 0;
	border: 0;
}

/** logo **/
#logo-img {
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/b/b4/Nuvo%21a_rosquilla.svg/128px-Nuvo%21a_rosquilla.svg.png') no-repeat;
	width: 128px;
	height: 128px;
	margin: 10px;
}

.navbar-brand {
	padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
	color: #f4c842;
	font-size: 3em;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

.navbar-brand span {
	color: #ff8930;
	text-transform: uppercase;
	font-size: .8em;
	margin-top: 15px;
	vertical-align: middle;
}

#nav-list {
	margin-top: 10px;
}

#nav-list a {
	color: #ffec42;
	text-align: center;
}
#nav-list a:hover {
	background: #e7e7e7 ;
}
#nav-list a span {
	font-size: 1.5em;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #ffec42;
}

.navbar-header button.navbar-toggle {
	clear: both;
	margin-top: -10px;
}

.container .jumbotron {
	box-shadow:0 0 50px #ffec42;
	border: 2px solid #ffec42;
}

/**************Module2 copy *******************/
h1	{
	color: #db750f;
	font-size: 40px;
	text-transform: uppercase;
	margin: 50px;
}

.row {
	width: 100%;
}

section {
	position: relative;
	border: 0.5px solid black;
	margin:0px;
	text-align: justify;
}

.chicken {
	background-color: #1fc646;
	position: absolute;
	right: 0px;
	margin-top: 0px;
	border: 0.5px solid black;
	text-align: center;
	width: 100px;
	font-size: 19px;
}

.beef {
	background-color: #4644c4;
	position: absolute;
	right: 0px;
	margin-top: 0px;
	border: 0.5px solid black;
	text-align: center;
	width: 100px;
	font-size: 19px;
}

.sushi {
	position: absolute;
	background-color: #d1ce21;
	right: 0px;
	margin-top: 0px;
	border: 0.5px solid black;
	text-align: center;
	width: 100px;
	font-size: 19px;
}

p {
	 margin: 35px 0px 5px 20px;	
	 width:  90%;
	 font-size: 15px;
}

.col-lg-3, .col-md-6, .col-md-12, .col {
	background-color: rgb(244, 200, 66);
	margin:5px;
	border: 0.5px solid black;
	padding: 0;
}


/*************** Large devices only *******************/
@media (min-width: 1200px) {
.container .jumbotron {
	background: url('http://www.miserv.net/large/hbu.h-cdn.co/assets/15/53/1451429538-pantry-organization-index.jpg') no-repeat;
	height: 600px;
}
.col-lg-3 {
	float: center;
	width: 32%;
}
}


/*************** Medium devices only *******************/
@media (min-width: 992px) and (max-width: 1199px) {
.container .jumbotron {
	background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/8/81/High_Fat_Foods_-_NCI_Visuals_Online.jpg/1024px-High_Fat_Foods_-_NCI_Visuals_Online.jpg') no-repeat;
	height: 500px;
}

.col-lg-3 {
	float: center;
	width: 32%;
}
}

/*************** small devices only *******************/
@media (min-width: 768px) and (max-width: 991px) {
.container .jumbotron {
	background: url('https://c1.staticflickr.com/5/4116/4743092303_e1294d3cc8_b.jpg') no-repeat;
	height: 400px;
}

.col-md-6, .col-md-12 {
	float:left;
	width: 48.5%;
}

.col-md-6 {
	width: 48.5%;
	clear: right;
}

.col-md-12 {
	width:98%;
}
}

/*************** Extra small devices only *******************/
@media (max-width: 767px) {
/* Header */
.navbar-brand {
	padding-top: 10px;
	height: 80px;
}
.navbar-brand h1 {
	padding-top: 10px;
	font-size: 8vw;
}
} /* End header */

/*Home page */
.container .jumbotron {
	margin-top: 30px;
	padding: 0;
}
